<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, style: "height: 400px;" %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <div class="controls">
      <% @tags.each do |t| %>
        <div>
          <%= check_box_tag("topic[tag_ids][]", t.id, @topic.tags.include?(t)) %>
          <%= t.title %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="field">
    <%= f.label :published %>?<br>
    <%= f.check_box :published %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
