<% if user_signed_in? %>

<h1>Listing topics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.title %></td>
        <td><%= topic.summary %></td>
        <td><%= topic.category_id %></td>
        <td><%= link_to 'Show', topic %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>

<% else %>
  <div class="container">
    <h1> All Topics </h1>

    <% @topics.each do |topic| %>
      <article>
        <div class="clearfix">

          <div class="date pull-left"> <span class="day">
          <% if topic.created_at.day < 10 %>0<% end %><%= topic.created_at.day %></span>/<span class="month"><% if topic.created_at.month < 10 %>0<% end %><%= topic.created_at.month %></span> </div>

          <div class="article pull-right">
            <h2 class="title"> <%= link_to topic.title, topic %> </h2>
            <p class="summary"> <%= topic.summary %> </p>
            <div class="tags">
              <% topic.tags.each do |tag| %>
                <%= link_to tag.title, tag %>
              <% end %>
            </div>
          </div>

        </div>
      </article>
    <% end if @topics %>

    <div class="pagination">
      <%= paginate @topics %>
    </div>

    <section class="footer">
      <article class="tags-nav">
        <div class="clearfix">
          <div class="pull-left date">
            ReadList
          </div>
          <div class="pull-right article">
            <a href=""> Articles I Enjoyed Reading. </a>
          </div>
        </div>
      </article>

      <article class="topics-nav">
        <div class="clearfix">
          <div class="pull-left date">
            Topics
          </div>
          <div class="pull-right article">
            <%= link_to "Recent",root_path %>
            <% @categories.each do |c| %>
              . <%= link_to c.title, c %>
            <% end if @categories %>
          </div>
        </div>
      </article>

      <article class="tags-nav">
        <div class="clearfix">
          <div class="pull-left date">
            Tags
          </div>
          <div class="pull-right article">
            <% footer_tags("all").each do |tag| %>
              <%= link_to tag.title, tag %> </a>
            <% end %>
          </div>
        </div>
      </article>
    </section>

  </div>
<% end %>
