<%
  meta :title => @topic.title + " | Morad Z Taleeb", :description => @topic.summary
  meta [ :property => "og:title", :content => @topic.title + " | Morad Z Taleeb" ]
  meta [ :property => "og:description", :content => @topic.summary ]
%>

<p id="notice"><%= notice %></p>

<div class="container single-topic-container">
  <h1> <%= link_to @topic.category.title, @topic.category %> </h1>

  <article class="full-topic">
    <div class="clearfix">

      <div class="date pull-left"> <span class="day">
      <% if @topic.created_at.day < 10 %>0<% end %><%= @topic.created_at.day %></span>/<span class="month"><% if @topic.created_at.month < 10 %>0<% end %><%= @topic.created_at.month %></span>
      </div>

      <div class="article pull-right">
        <h2 class="title"> <%= @topic.title %> </h2>

        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_topic_path(@topic) %>
        <% end %>

        <p class="summary"> <%= @topic.summary %> </p>

        <div class="topic-content">
          <%= @topic.content.html_safe %>
        </div>

        <div class="tags">
          <% @topic.tags.each do |t_tag| %>
            <%= link_to t_tag.title, t_tag %>
          <% end %>
        </div>

        <div class="share-buttons">
          <!-- like -->
          <div class="fb-like" data-width="138" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

          <!-- tweet -->
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= @topic.title %>" data-via="moradtaleeb" data-hashtags="<%= @topic.category.title.gsub(/\s+/, '_').gsub('-','') %>">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        </div>

        <div class="related-articles">
          <% @related_topics.each do |t| %>
            <article>
              <div class="article">
                <h2 class="title"> <%= link_to t.title, t %> </h2>
                <p class="summary"> <%= t.summary %> </p>
              </div>
            </article>
          <% end %>
        </div>

        <div class="comments">
          <fb:comments href="<%= request.original_url %>" numposts="6" colorscheme="light">
          </fb:comments>
          <script type="text/javascript">
            FB.XFBML.parse();
          </script>
        </div>

      </div> <!-- /.article -->
    </div> <!-- /.clearfix -->
  </article>

  <section class="footer">
    <article class="tags-nav">
      <div class="clearfix">
        <div class="pull-left date">
          ReadList
        </div>
        <div class="pull-right article">
          <a href=""> Articles I Enjoyed Reading. </a>
        </div>
      </div>
    </article>

    <article class="topics-nav">
      <div class="clearfix">
        <div class="pull-left date">
          Topics
        </div>
        <div class="pull-right article">
          <%= link_to "Recent",root_path %>
          <% @categories.each do |c| %>
            . <%= link_to c.title, c %>
          <% end if @categories %>
        </div>
      </div>
    </article>

    <article class="tags-nav">
      <div class="clearfix">
        <div class="pull-left date">
          Tags
        </div>
        <div class="pull-right article">
          <% footer_tags("all").each do |tag| %>
            <%= link_to tag.title, tag %> </a>
          <% end %>
        </div>
      </div>
    </article>
  </section>

</div>

<section class="author">

  <div class="container">
    <div class="image-wrapper">
      <!-- <img src="/images/moradtaleeb.jpg"> -->
      <%= link_to root_path do %>
        <%= image_tag 'moradtaleeb.jpg' %>
      <% end %>
    </div>
    <h1> Morad Z Taleeb </h1>

    <p>  " Making the Web a Better Place " </p>
    <br/><br/>
    <ul class="inline">
      <li> <a href="http://www.linkedin.com/in/moradtaleeb" target="_blank"> Linkedin </a> </li> .
      <li> <a href="https://twitter.com/moradtaleeb" target="_blank"> Twitter </a>  </li> .
      <li> <a href="mailto:moradtaleeb@gmail.com"> Mail </a>  </li>
    </ul>
  </div>

</section>
