<div class="container">


  <% @topics.each do |topic| %>
    <article>
      <div class="clearfix">

        <div class="date pull-left"> <span class="day">
        <% if topic.created_at.day < 10 %>0<% end %><%= topic.created_at.day %></span>/<span class="month"><% if topic.created_at.month < 10 %>0<% end %><%= topic.created_at.month %></span> </div>

        <div class="article pull-right">
          <h2 class="title"> <%= link_to topic.title, topic %> </h2>
          <p class="summary"> <%= topic.summary %> </p>
          <div class="tags">
            <% topic.tags.each do |tag| %>
              <%= link_to tag.title, tag %>
            <% end %>
          </div>
        </div>

      </div>
    </article>
  <% end if @topics %>

  <div class="pagination">
    <%= paginate @topics %>
  </div>

  <section class="footer">
    <article class="tags-nav">
      <div class="clearfix">
        <div class="pull-left date">
          ReadList
        </div>
        <div class="pull-right article">
          <%= link_to "Articles I Enjoyed Reading.", articles_path %>
        </div>
      </div>
    </article>

    <article class="topics-nav">
      <div class="clearfix">
        <div class="pull-left date">
          Topics
        </div>
        <div class="pull-right article">
          <% @categories.each_with_index do |c, i| %>
          <% if i > 0 %> . <% end %>
          <%= link_to c.title, c %>
        <% end if @categories %>
        </div>
      </div>
    </article>

    <article class="tags-nav">
      <div class="clearfix">
        <div class="pull-left date">
          Tags
        </div>
        <div class="pull-right article">
          <% footer_tags("all").each do |tag| %>
            <%= link_to tag.title, tag %> </a>
          <% end %>
        </div>
      </div>
    </article>
  </section>

</div>