<% if user_signed_in? %>
  <div class="container">
    <h1>Listing categories</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.title %></td>
            <td><%= link_to 'Show', category %></td>
            <td><%= link_to 'Edit', edit_category_path(category) %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Category', new_category_path %>

  </div>

<% else %>

  <div class="container">
    <section class="footer">
      <article class="tags-nav">
        <div class="clearfix">
          <div class="pull-left date">
            ReadList
          </div>
          <div class="pull-right article">
            <%= link_to "Articles I Enjoyed Reading.", articles_path %>
          </div>
        </div>
      </article>

      <article class="topics-nav">
        <div class="clearfix">
          <div class="pull-left date">
            Topics
          </div>
          <div class="pull-right article">
            <% @categories.each_with_index do |c, i| %>
            <% if i > 0 %> . <% end %>
            <%= link_to c.title, c %>
          <% end if @categories %>
          </div>
        </div>
      </article>

      <article class="tags-nav">
        <div class="clearfix">
          <div class="pull-left date">
            Tags
          </div>
          <div class="pull-right article">
            <% footer_tags("all").each do |tag| %>
              <%= link_to tag.title, tag %> </a>
            <% end %>
          </div>
        </div>
      </article>
    </section>
  </div>

<% end %>
