<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title> Morad Z Taleeb </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=165874840163421";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <% if @page == "main-page" %>
  <div class="other-side">
    <div class="back navigation right-nav">
      <img src="moradtaleeb.jpg">
      <p> Morad Z Taleeb </p>
    </div>
  </div>

  <div class="main-side">

    <section class="intro">

      <div class="navigation left-nav">
        <img src="morad.jpg">
        <p> The Other Side of Me. </p>
      </div>

      <div class="container">
        <div class="image-wrapper">
          <img src="moradtaleeb.jpg">
        </div>
        <h1> Morad Z Taleeb </h1>

        <% if user_signed_in? %>
          <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
        <% end %>

        <p>  " Making The Web a Better Place " </p>
        <br/><br/>
        <p> I Write<b>/</b>Tweet About</p>
        <nav><ul class="inline">
        <% @categories.each_with_index do |c, i| %>
          <% if i > 0 %> . <% end %>
          <li> <%= link_to c.title, c %> </li>
        <% end if @categories %>
        </ul></nav>
        <br/>
        <p> Find me somewhere else in the web </p>
        <ul class="inline">
          <li> <a href=""> Linkedin </a> </li> .
          <li> <a href=""> Twitter </a>  </li> .
          <li> <a href=""> Mail </a>  </li>
        </ul>
      </div>

      <div class="navigation right-nav">
        <img src="morad-wadirum.jpg">
        <p> Coming Soon! </p>
      </div>

    </section>
    <% else %>

    <div class="main-side">
    <% end if @page %>

      <section class="page-content <%= @page %>">

        <%= yield %>

      </section>

    </div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
